.change-password {
    h4 {
        margin-bottom: 2rem;
        border-bottom: 1px solid #ccc;
    }

    .change-pass-container {
        .change-pass-input {
            margin-bottom: 10px;
            margin-top: 1rem;

            input {
                border-bottom: 1px solid red;
                outline: none;
                background-color: white;
                color: black;
                border-top: none;
                border-left: none;
                border-right: none;
                margin-bottom: 1rem;
                width: 80%;
            }

            svg {
                cursor: pointer;

                &:hover {
                    color: blue;
                }
            }

            .error-message {
                color: red;
                font-size: .9rem;
            }
        }

        .btn-reset-password {
            margin-top: 2rem;
            display: flex;
            justify-content: flex-end;
        }
    }
}