.container-fluid {
    .container {
        .import-excel-container {
            margin-left: 3rem;
            padding: 5px;
            border-radius: 8px;
            font-size: .85rem;

            #import-excel {
                margin-top: 5px;
            }

            #btn-import-excel,
            #btn-export-excel {
                background-color: transparent;
                border: 1px solid orangered;
                padding: 2px 4px;
                border-radius: 6px;
                margin-right: 5px;
            }
        }

        .search-container {
            background-color: white;
            border-radius: 6px;
            overflow: hidden;
            margin-bottom: 20px;
            max-width: 362px;

            .search-form {
                min-width: 320px;
                border: none;
                font-size: .9rem;
                padding-left: .6rem;
                color: black;
                outline: none;
                background-color: white;

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .btn-create-account,
        .btn-filter-status-order {
            margin-left: 5px;
            margin-bottom: 5px;
            background-color: transparent;
            border: 1px solid orangered;
            color: orangered;
            border-radius: 10px;
            font-size: .9rem;
            padding: 4px;
            font-weight: bold;

            &:hover {
                background-color: orangered;
                color: white;
            }
        }

        .btn-create-account {
            border-radius: 0;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .new-coupon {
            margin-right: 20px;
            margin-left: 20px;

            #add-new-coupon {
                font-size: 1.4rem;
                background-color: transparent;

                &:hover {
                    color: orangered;
                }
            }
        }

        #add-new-book {
            background-color: transparent;
            border: 2px solid orangered;
            margin: 20px 0;
            border-radius: 10px;
            padding: 5px 10px;
            color: orangered;

            &:hover {
                background-color: orangered;
                color: white;
            }
        }

        table {
            tr {
                vertical-align: middle;
            }

            .heading-table {
                th {
                    text-align: center;
                }
            }

            .body-table {
                td {
                    text-align: center;
                }

                #img-book {
                    object-fit: contain;

                    img {
                        width: 100px;
                        height: 100px;
                    }

                    button {
                        width: 65%;
                        background-color: white;
                        color: #34f234;
                        outline: none;
                        border: 1px solid #34f234;
                        border-radius: 4px;
                        cursor: pointer;

                        &:hover {
                            background-color: #34f234;
                            color: white;
                        }
                    }
                }

                .btn-table-dashboard {
                    padding: 3px 8px;
                    border-radius: 10px;
                    background-color: white;
                }

                #view-book,
                #view-order,
                #view-coupon {
                    margin-right: 5px;
                    border: 1px solid #34f234;
                    color: #34f234;
                    font-size: 1.2rem;

                    &:hover {
                        background-color: #34f234;
                        color: white;
                    }
                }

                #remove-book {
                    border: 1px solid red;
                    color: red;
                    font-size: 1.2rem;

                    &:hover {
                        background-color: red;
                        color: white;
                    }
                }
            }
        }
    }
}