section {
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
}

.section-book-tag,
.section-book-tag-type {
    background-color: bisque;
    padding: 10px 0 16px 0;
    border-radius: 10px;

    .container-custom {
        max-width: 1200px;
        width: 100%;

        .banner-tag-img {
            margin: 0 auto;
            width: 100%;
            display: block;
            object-fit: cover;

            img {
                width: 100%;
                height: 196px;
            }
        }

        .heading-bar__title {
            margin-bottom: 0;
            margin-left: 10px;
            margin-top: 10px;

            a,
            div {
                text-decoration: none;
                color: #000;
                font-weight: bold;
            }
        }

        .heading-bar__showall {
            margin-right: 2px;
            margin-top: 20px;

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;

                &:hover {
                    color: #686868;
                }
            }
        }
    }
}

.section-book-tag-type {
    background-color: transparent;
}

.container-book-cards {
    margin-top: 15px;
    padding-right: 12px;
    width: 100%;

    @media (min-width: 1200px) {
        .col-20 {
            flex: 0 0 auto;
            width: 20%;
        }
    }

    >* {
        padding-right: 0;
    }

    .book-card-wrap {
        background-color: white;
        padding: 12px;
        border-radius: 8px;
        margin-top: 10px;
        margin-bottom: 10px;

        .book-card {
            width: 100%;
            text-decoration: none;
            color: black;

            .book-img {
                margin-bottom: 20px;
                display: block;
                background-color: #e3f4fe;
                padding-top: 10px;
                object-fit: contain;

                img {
                    width: 100%;
                    transition: transform 0.3s ease;
                    max-width: 200px;
                    height: 240px;

                    &:hover {
                        transform: translateY(-10px);
                    }
                }
            }

            .book-name {
                text-decoration: none;
                color: black;
                font-size: 0.95rem;
                margin-bottom: 5px;
                overflow: hidden;
                height: 3rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;

                &:hover {
                    color: #4a4aff;
                }
            }

            .wrap-book-info {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;

                .book-price {
                    .sale-price {
                        color: red;
                        font-weight: bold;
                    }

                    .sale-wrap {
                        display: flex;

                        .old-price {
                            text-decoration: line-through;
                            font-size: 0.95rem;
                        }

                        .sale {
                            display: inline-block;
                            background-color: #ff1313;
                            color: white;
                            font-weight: bold;
                            font-size: 0.9rem;
                            margin-left: 10px;
                            padding: 5px;
                            border-radius: 6px;
                            line-height: 1;
                        }
                    }
                }

                .add-book-btn {
                    font-size: 1.8rem;
                    background-color: white;
                    color: #3636ff;

                    &:hover {
                        color: rgba(54, 54, 255, .85);
                    }
                }
            }
        }
    }
}