<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Email Template</title>
	<style>
		/* Thêm CSS tại đây để tạo giao diện email đẹp hơn */
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
	</style>
</head>

<body>
	<div class="container">
		<header>
			<h2>Thông Báo</h2>
		</header>
		<section>
			<p>Chúc mừng,</p>
			<p th:utext="${content}"></p>
			<p><span th:text="${name}"></span></p>
		</section>
	</div>
</body>

</html>